.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    border-top: 3px;
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    bottom: 12px;
  }
}
